

.submit{
    margin-top:16px;
    margin-right:16px;
    height:40px;
}
header.logo{
    background-color: #adb5bd;
    width:974px;
    height:96px;
    margin:auto;
}

div.listof{
    width:912px;
    height:56px;
    margin:auto;
    margin-top: 100px;
}
img.logo{
    top:0px;
    position:absolute;
    margin-left: 32px;
    margin-top: 32px;

    height:32px;
    width:32px;
}

th{
    color:#757575;
    font-size: :14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 18px;
    height: 48px;
}

div.htable{
    margin-bottom:7px;
    padding-left:10px;
}
div.columnName{
    padding-top:0px;
    padding-left:10px;
    margin-top:12px;
    margin:auto;
}
th.fullname{
    width: 205px;
}

th.email{
    width:300px;
}

th.phone{
    width:200px;
}
div.rowtable{
    margin-top: 16px;
    padding-left:10px;
    padding-bottom: 16px;
    height: 40px;
}

div.rowtableb{
    margin-top: 8px;
    padding-left:10px;
    padding-bottom: 16px;
    height: 40px;
}
td{
    height: 72px;
    color:#505050;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin:auto;
}
h3.name{
    color:white;
    top:0px;
    margin-left: 72px;
    margin-top: 34px;
    position:absolute;
}
h2.listof{
    color:#757575;
}


span.edit{

    margin-right:20px;
    margin-left:70px;
}

span.rowtablep{
    margin-top: 8px;
}

body{
    background-color: #f1f1f1;
}

div.participants{
    margin-top: 10px;
}
i.but{
    margin-top:12px;
    color:#909090;
    width:24px;
    height: 24px;
}

button.cancelEdit{
    height:40px;
    background-color: #eff3f8;
    border:none;
    color:#07f;
    width: 80px;
    font-size: 16px;
    font-weight: 500;
}
button.saveEdit{
    height:40px;
    background-color: #07f;
    width: 80px;
    border:none;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
}

.list{
    margin: auto;
    width: 912px;
    height: 72px;
    background-color: #ffffff;
}


div.fullname{
    margin-left:16px;
    margin-top:16px;
    margin-right:10px;
}
input.fullname{
    color:#505050;
    height:40px;
    width:180px;

}
input.rowfullname{
     background-color: #f9f9f9;
    margin-top:8px;
    padding-left:10px;
    height:40px;
    width:180px;

}

div.email{
    margin-top:16px;
    margin-right:10px;

}
input.email{
    height:40px;
    width:280px;
}

input.rowemail{
    background-color: #f9f9f9;
    margin-top:8px;
    padding-left:10px;
    height:40px;
    width:280px;
}

input{
    background-color: #fafafa;
    border: black;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
div.phone{
    margin-top:16px;
    margin-right:88px;
}
div.phone2{
    margin-top:16px;
    margin-right:16px;
}
input.phone{

    height:40px;
    width:180px;

}
input.rowphone{
    background-color: #f9f9f9;
    margin-top:8px;
    padding-left:10px;
    height:40px;
    width:180px;
}}

div.addnewp{
    margin-top: 20px;
}

button.addnewp{
    color:#757575;
    height:40px;
    background-color:#ededed;
    border: none;
    width:120px; 
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.pagi{
    margin:auto;
    left:45%;
    position: absolute;
}