<!DOCTYPE html>
<html lang="en" ng-app="application">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nord Trainee</title>

        <!--build:css styles/main.css -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles/app.css" rel="stylesheet" type="text/css">
        <!-- endbuild -->

    </head>

    <body ng-controller="AppController">

        <header class="jumbotron logo">

            <!-- Main component for a primary marketing message or call to action -->              
            <img src="images/logo.png" class="img-responsive logo" alt="logo">
            <h3 class="name">Nord Software</h3>
        </header >
        <div class="listof">
            <h2 class="listof">List of participants</h2>
        </div>

        <form class="form-inline list" ng-submit="addParticipant()">

            <div class="form-group fullname">

                <input type="text" class="fullname" placeholder="Full name" ng-model="new.fullname" pattern="[a-zA-Z][a-zA-Z ]{4,}">
            </div>
            <div class="form-group email">

                <input type="email" class="email"  placeholder="E-mail address" ng-model="new.email">
            </div>

            <div class="form-group phone">

                <input type="text" class="phone" placeholder="Phone number"  ng-model="new.phone" pattern="[0-9]{10,}">
            </div>

            <div class="form-group phone2">
               
                <button class="addnewp" type="submit">Add new</button>
             
            </div>
        </form>


        <div class= "container participants">

            <table class="table list">
                <thead>
                    <th class="fullname" ng-click="sortParticipantsName()"><div class="htable">Full names &nbsp;<span ><i ng-show="!reversedName&&sortedName" class="glyphicon glyphicon-arrow-down"></i><i ng-show="reversedName&&sortedName" class="glyphicon glyphicon-arrow-up"></i></span></div></th>
                    <th class="email"  ng-click="sortParticipantsEmail()"><div class="htable">E-mail address &nbsp;<span><i ng-show="!reversedEmail&&sortedEmail" class="glyphicon glyphicon-arrow-down"></i><i ng-show="reversedEmail&&sortedEmail" class="glyphicon glyphicon-arrow-up"></i></span></div></th>
                    <th class="phone" ng-click="sortParticipantsPhone()"><div class="htable">Phone number &nbsp;<span ><i ng-show="!reversedPhone&&sortedPhone" class="glyphicon glyphicon-arrow-down"></i><i ng-show="reversedPhone&&sortedPhone" class="glyphicon glyphicon-arrow-up"></i></span></div></th>
                    <th>                  </th>
                </thead>
                <tbody>
                    <tr ng-repeat="participant in PageParticipants" style="height:72px">
                        <td ng-click="editParticipant(participant)"><div ng-show="!participant.edit" class="rowtable"><span class="rowtablep"  >{{participant.fullname}}</span></div>
                            <input class="rowfullname" type="text" ng-model="participant.fullname" ng-show="participant.edit"></td>
                        <td ng-click="editParticipant(participant)"><div ng-show="!participant.edit" class="rowtable"><span class="rowtablep" >{{participant.email}}</span></div>
                            <input class="rowemail" type="email" ng-show="participant.edit" ng-model="participant.email" ></td>
                        <td ng-click="editParticipant(participant)"><div  ng-show="!participant.edit" class="rowtable"><span class="rowtablep">{{participant.phone}}</span></div>
                            <input class="rowphone" type="text" ng-model="participant.phone" ng-show="participant.edit"></td>
                        <td>
                            <div class="rowtableb">
                                <span class="edit"  ng-show="!participant.edit" ng-click="editParticipant(participant)" ><i  class="glyphicon glyphicon-pencil but"></i></span>
                                <span  ng-show="!participant.edit" ng-click="deleteParticipant(participant)" ><i class="glyphicon glyphicon-trash but"></i></span>
                                <button ng-show="participant.edit" class="cancelEdit" ng-click="cancelUpdate(participant)">Cancel</button>
                                <button ng-show="participant.edit" class="saveEdit" ng-click="saveUpdate(participant)">Save</button>
                            </div>
                        </td>

                    </tr>
                </tbody>


            </table>
            <div class="pagi">
                <uib-pagination total-items="participants.length" ng-model="currentPage" items-per-page="itemsPerPage" ng-click="setPagingData(currentPage)"></uib-pagination>
            </div>
        </div>
        <!-- build:js scripts/main.js -->
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
    </body>

</html>